<div class="card-default-view tiles">

  <div class="row mt-2">
    <div class="col">
      <div class="grid">
        <div class="cols">        
          <a-card title="Real-time Fnality Fund Balances" icon="adhara-balances" intro>             
            <p class="card-text">Seeing is believing. View all of your Fnality Funds balances across different FNPS (CCYs) and alongside other digital assets.</p>
            <div class="mt-auto">
              <a-button primary size="small" class="mt-auto">Show more</a-button>
            </div>
          </a-card>
        </div>
      </div>
    </div>
  </div>  


  <CardCode>
    <textarea class="form-control" rows="3">
<a-card title="Real-time Fnality Fund Balances" icon="adhara-balances" intro>             
  <p class="card-text">Seeing is believing.</p>
  <div class="mt-auto">
    <a-button primary size="small" class="mt-auto">Show more</a-button>
  </div>
</a-card>


<div class="card intro-card default">
  <div class="card-body card-body d-flex flex-column">
    <svg class="a-icon bi icon-md text-primary" fill="currentColor">
      <use xlink:href="#adhara-balances"></use>
    </svg>
    <h5 class="card-title">Real-time Fnality Fund Balances</h5>
    <p class="card-text">Seeing is believing.</p>
    <div class="mt-auto"><button class="btn btn-primary btn-sm mt-auto" type="button" data-v-5a8dd545="">Show more
      </button>
    </div>
  </div>
</div>
</textarea>
  </CardCode>



  
</div>