.card {
    min-height: auto;
    border: 0;
    background-color: var(--body-card-color);
    box-shadow: 0 .2rem 1rem rgba(210, 210, 210, .3);

    .card-header {
        border-bottom: 1px solid rgba(0, 0, 0, .04);
        background-color: rgba(0, 0, 0, .01);
    }

    .card-body {
        padding: var(--spacer-24) var(--spacer-20);
    }

    .card-footer {
        border-top: 1px solid rgba(0, 0, 0, .04);
        background-color: rgba(0, 0, 0, .01);
    }

    .card-title {
        display: flex;
    }

    .card-text,
    .data-row {
        font-size: var(--font-size-10);
    }
    
    .body-footer {
        margin-top: auto;
        padding-top: var(--spacer-8);

        .select-box {
            margin: auto;
        }
    }

    &.dark {
        color: #fff;
        background-color: #333;

        .card-title {
            margin-bottom: 2rem;
        }

        figure {
            margin: -1.3rem 0 -.3rem;
        }
        /* stylelint-disable selector-no-qualifying-type */
        pre,
        pre[class*='language-'] {
            max-height: 300px;
            padding: 0;
            background: #333;
            scrollbar-width: auto;
            scrollbar-color: #fff #515151;
            
            &::-webkit-scrollbar {
                width: 8px;
                height: 8px;
            }

            &::-webkit-scrollbar-track {
                background: #515151;
            }

            &::-webkit-scrollbar-thumb {
                border: 2px groove #515151;
                border-radius: 5px;
                background-color: #fff;
            }
        }
    }

    &.intro-card {
        height: 100%;
        min-height: 210px;
        border: 1px solid #f3f3f3;
        border-radius: 5px;
        
        &.primary {
            background-color: rgba(var(--color-primary-rgb), .08);
        }

        &.animate-content {
            min-width: 530px;
            min-height: 220px;
            box-shadow: none;
        }

        &.hover-animate {
            transition:
                .5s transform cubic-bezier(.15, 1.1, .29, 1.12),
                .3s box-shadow,
                .5s -webkit-transform cubic-bezier(.15, 1.1, .29, 1.12);
            box-shadow: 0 .2rem 1rem rgba(210, 210, 210, .3);

            &:hover {
                transform: scale(1.06);
                box-shadow:
                    0 10px 20px rgba(0, 0, 0, .12),
                    0 4px 8px rgba(0, 0, 0, .06);
                cursor: pointer;
            }
        }

        svg + .card-title {
            margin: 1.125rem 0 .5rem;
        }
    }

    &.balance-card,
    &.action-card {
        border: 1px solid #f3f3f3;
        border-radius: 5px;
        box-shadow: none;

        .card-header {
            padding: 20px 20px 0;
            border-bottom: 0;
            font-size: var(--font-size-10);
            text-transform: capitalize;
            background-color: transparent;
            gap: 4px;

            .badge {
                margin: 0;
            }
        }

        .card-body  {
            padding-top: 0;

            .card-title {
                margin: 16px 0 20px;
                font-size: 23px;
                line-height: 23px;
            }
        }

        .data-row {
            display: flex;
            margin-bottom: var(--spacer-8);
            font-weight: var(--font-weight-medium);
            line-height: var(--font-size-10);

            :first-child {
                margin-right: auto;
                padding-right: 10px;
            }
        }
    }

    &.action-card {
        min-height: 114px;
        margin-bottom: 16px;

        .card-header {
            font-size: var(--font-size-8);
        }

        .card-body  {
            .card-title {
                margin: 12px 0 0;
                font-size: var(--font-size-16);
                line-height: var(--font-size-16);
            }

            .sub-text {
                padding: var(--spacer-12);
                background-color: var(--body-bg);
            }
        }

        .data-row {
            div {
                margin-right: 10px;
            }

            :first-child {
                margin-right: 0;
            }
        }
        
        .toggle-info {
            height: 0;
            transition: all .3s ease-in-out;
            overflow: hidden;

            &.active-toggle {
                height: 180px;
                padding-top: 12px;
            }
        }

        .confirm-result {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            padding: var(--spacer-20);
            background-color: #fff;
            opacity: 0;
        }
        
        // ACTION-CARD ANIMATE - START
        
        &.listings-enter-to {
            opacity: 0;
        }
        
        /* stylelint-disable no-unknown-animations */
        &.listings-enter-active {
            animation:
                scaleIn .5s ease 1.3s 1 normal forwards,
                // shake .5s ease 1.7s 1 normal forwards;
        }

        &.listings-leave-active {
            position: absolute;
            right: 24px;
            left: 0;
            transform: scale(1.04);
            transition:
                .5s transform cubic-bezier(.15, 1.1, .29, 1.12),
                .3s box-shadow;
            transition-delay: .1s;
            animation: scaleOut .5s ease 1.3s 1 normal forwards;

            .confirm-result {
                display: flex;
                animation: fadeIn .5s .3s ease-out forwards;
            }
        }
        /* stylelint-enable no-unknown-animations */
        
        &.listings-move {
            transition: all .5s ease;
            transition-delay: 1.3s;
        }
        
        // ACTION-CARD ANIMATE - END
    }
}

// OVERVIEW PAGE - START
.tiles .grid {
    display: grid;
    align-items: start;
    grid-gap: 24px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 100%);
}

/* stylelint-disable-next-line selector-max-compound-selectors */
.tiles .grid .cols,
.tiles .grid .cols .card {
    height: 100%;
}

.dash-board .grid .cols {
    height: auto;
}

.grid .g-col-2 {
    grid-column: auto / span 1;
}

.tiles .card.intro-card {
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    box-shadow: none;
}

.tiles .a-icon.modal-trigger {
    position: absolute;
    top: 24px;
    right: 20px;
}

.tiles .card.intro-card.primary {
    padding: 0 20px;
    color: var(--color-white);
    background-color: rgba(var(--color-primary-rgb), 1);
}

.tiles .card.intro-card .card-body {
    display: flex;
    flex-direction: column;
}

@media (min-width: 576px) {
    .tiles .grid {
        grid-template-columns: repeat(auto-fit, 280px);
    }

    .tiles.balances .grid {
        grid-template-columns: repeat(auto-fit, 276px);
    }

    .grid .g-col-2 {
        grid-column: auto / span 2;
    }
}

@media (min-width: 768px) {
    .tiles .grid {
        justify-content: start;
    }
}

// OVERVIEW PAGE - END

@media (min-width: 992px) {
    .dash-board .grid {
        grid-template-columns: 427px repeat(auto-fit, 344px);

        .cols:first-child {
            height: 82vh;
            padding-right: 24px;
            border-right: 1px dotted #979797;

            &.ignore {
                height: auto;
                border: 0;
            }
            /* stylelint-disable-next-line selector-max-compound-selectors */
            .card {
                height: auto;
            }
        }
    }
}