// TODO - Ronnie - Move to pop-out scss ones component gets created.
.dropdown-menu {
    padding: 0;
    border: 0;
    font-size: inherit;

    .card {
        box-shadow: 0 .2rem 1rem rgba(210, 210, 210, 1);
    }
}