<div class="balance-view">
  <div class="container-xxl">
      <div class="row">
        <div class="col-12">
          <Tabs sticky class="header-tabs">       
            <Tab title="Balances" class="fade-in">
              <balances-view />
            </Tab>
            <Tab title="FNALITY" class="fade-in">
              <balances-fnality-view />
            </Tab>
            <Tab title="CDBC" class="fade-in">
              <balances-cdbc-view />
            </Tab>
            <Tab title="Account" class="fade-in">
              <balances-account-view />
            </Tab>
            <Tab title="Digital Assets" class="fade-in">
              <balances-digital-assets-view />
            </Tab>                                 
            <Tab title="Table Experimental" class="fade-in">
              <balances-table-view/>
            </Tab>                        
          </Tabs>               
        </div>
      </div>
  </div>
</div>