<div class="badges-secondary-view">
  <div class="row mt-2">
    <div class="col">
      <Card title="Preview">
        <div class="input-wrapper mb-0">
          <a-badge secondary state="success" icon-right="check-circle">Success</a-badge> 
          <a-badge primary state="success" icon-right="check-circle">Rate Set</a-badge>
        </div>
      </Card>
    </div>
  </div>



  <CardCode>
    <textarea class="form-control" rows="3">
<a-badge secondary state="success" icon-right="check-circle">Success</a-badge> 
<a-badge primary state="success" icon-right="check-circle">Rate Set</a-badge>

<span class="badge bg-none bg-none-success icon-right">
  Success
  <svg class="a-icon bi right-icon" fill="currentColor">
    <use xlink:href="/img/bootstrap-icons.104c0a26.svg#check-circle"></use>
  </svg>
</span>
<span class="badge bg-success icon-right">
  Rate Set
  <svg class="a-icon bi right-icon" fill="currentColor">
    <use xlink:href="/img/bootstrap-icons.104c0a26.svg#check-circle"></use>
  </svg>
</span>
</textarea>
  </CardCode>




  <p class="display-4 mt-7 pt-5 border-top">Inline Statuses</p>


  <div class="row mt-6">
    <div class="col">
      <Card title="Preview">
        <div class="input-wrapper mb-0">
          <a-badge secondary state="caution" icon-right="dash-circle">Pending</a-badge> 
        </div>
      </Card>
    </div>
  </div>



  <CardCode>
<textarea class="form-control" rows="3">
<a-badge secondary state="caution" icon-right="dash-circle">Pending</a-badge>
<a-badge secondary state="success" icon-right="check-circle">Success</a-badge>
<a-badge secondary state="warning" icon-right="x-circle">Rejected</a-badge> 

<span class="badge bg-none bg-none-caution icon-right">
  Pending
  <svg class="a-icon bi right-icon" fill="currentColor">
    <use xlink:href="/img/bootstrap-icons.104c0a26.svg#dash-circle"></use>
  </svg>
</span>
</textarea>
  </CardCode>


  <div class="row mt-6">
    <div class="col">


      <Card title="Formats">

        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2  order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-badge secondary state="caution" icon-right="dash-circle">Pending</a-badge> 
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Pending State</h5>
          </div>
        </div>        

        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2  order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-badge secondary state="success" icon-right="check-circle">Settled</a-badge> 
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Success State</h5>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2  order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-badge secondary state="warning" icon-right="x-circle">Rejected</a-badge> 
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Failure/Emergency State</h5>
          </div>
        </div>        




      </Card>
    </div>
  </div>

  <p class="display-4 mt-7 pt-5 border-top">Badge Statuses</p>


  <div class="row mt-6">
    <div class="col">
      <Card title="Preview">
        <div class="input-wrapper mb-0">
          <a-badge primary state="caution" icon-right="dash-circle">Pending</a-badge> 
        </div>
      </Card>
    </div>
  </div>



  <CardCode>
<textarea class="form-control" rows="3">
<a-badge primary state="caution" icon-right="dash-circle">Pending</a-badge>
<a-badge primary state="success" icon-right="check-circle">Success</a-badge>
<a-badge primary state="warning" icon-right="x-circle">Rejected</a-badge> 

<span class="badge bg-caution icon-right">
  Pending
  <svg class="a-icon bi right-icon" fill="currentColor">
    <use xlink:href="/img/bootstrap-icons.104c0a26.svg#dash-circle"></use>
  </svg>
</span>
</textarea>
  </CardCode>


  <div class="row mt-6">
    <div class="col">


      <Card title="Formats">

        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2  order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-badge primary state="caution" icon-right="dash-circle">Pending</a-badge> 
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Pending State</h5>
          </div>
        </div>        

        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2  order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-badge primary state="success" icon-right="check-circle">Settled</a-badge> 
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Success State</h5>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2  order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-badge primary state="warning" icon-right="x-circle">Rejected</a-badge> 
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Failure/Emergency State</h5>
          </div>
        </div>        




      </Card>
    </div>
  </div>
  
  
  
  


  
</div>