<div class="buttons-tertiary-view">
  <div class="row mt-2">
    <div class="col">
      <a-card title="Preview">
        <div class="input-wrapper mb-0 mt-5">
          <a-button>View all balances</a-button>
        </div>
      </a-card>
    </div>
  </div>



  <CardCode>
    <textarea class="form-control" rows="3">
<a-button>View all balances</a-button>
<a-button disabled>View all balances</a-button>  
<button type="button" class="btn btn-link">View all balances</button>
<button type="button" class="btn btn-link disabled">View all balances</button>
</textarea>
  </CardCode>


  <div class="row mt-6">
    <div class="col">


      <a-card title="Formats">
        <div class="row mb-8 mt-5">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button>View all balances</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Standard State</h5>
          </div>
        </div>

        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button class="hover">View all balances</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Rollover State</h5>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button disabled>View all balances</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Disabled State</h5>
          </div>
        </div>

      </a-card>
    </div>
  </div>
</div>