<div class="animations-view">

  <div class="container-xxl pt-1 pt-md-4">
    <p class="display-4">{{ $route.meta.title }}</p>
    <p class="mt-5">Animation contributes to making a user inteface expressive, easy to use and result in a more "lively" user experience.</p>
  </div>

  <div class="container-xxl pt-5">
    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-2 row-cols-lg-3 g-4 g-xl-7">
      <div class="col">
        <a-card title="Focused" icon="eye"  hover intro class="primary">
          <p class="card-text">Animation should focus the user's attention on what is important, without creating unnecessary distraction.</p>
        </a-card>
      </div>
      <div class="col">
        <a-card title="Informative" icon="clipboard-check"  hover intro class="primary">
          <p class="card-text">Animation informs users by highlighting relationships between elements, action availability, and action outcomes.
          </p>
        </a-card>
      </div>
      <div class="col">
        <a-card title="Expressive" icon="megaphone"  hover intro class="primary">
          <p class="card-text">Animations is part of a user journey, adds character to common interactions, and can express a brand’s style.</p>
        </a-card>
      </div>
    </div>
    <div class="row mt-6">
      <div class="col">
        <a-card title="Preview">
          <div class="d-flex flex-column flex-md-row bd-highlight mt-5">
            <div class="p-2 bd-highlight">
              <a-drop-down :options="options" @change='_animationSelected' defaultValue="Select Animation" />
            </div>
            <div class="p-2 animation">
              <div :class="selected" class="d-flex">
                <a-card intro  class="animate-content primary">
                  <div v-if="selected">
                    <div><b>CSS Class:</b> {{ selected }}</div>
                    <div>
                      <p>
                        <b>Note:</b> The parent container should always have a CSS class, 'animation', e.g.
                      </p>
                      <code><pre>&lt;div class="animation"&gt;
  &lt;div class="{{ selected }}"&gt;
    Content that should {{ selectedtitle }}
  &lt;/div&gt;    
&lt;/div&gt;</pre></code>
                    </div>
                  </div>
                  <div v-else>For more details and how to use the animation,<br/>please select one from the drop-down.</div>
                </a-card>
                <div class="hold-icon"><a-icon icon="adhara-refresh" /></div>
              </div>
            </div>
          </div>
        </a-card>
      </div>
    </div>

    <CardCode>
      <textarea class="form-control" rows="3">
<div class="animation">
  <div class="fade-in">
    Content that should animate
  </div>
</div>
</textarea>
    </CardCode>
    
    <div class="row mt-6">
      <div class="col">
        <a-card title="Options">
          <div class="table-responsive mt-5">
            <table class="table table-bordered table-hover mb-0">
              <thead>
                <tr>
                  <th scope="col" class="col">Name</th>
                  <th scope="col" class="col">ID</th>
                  <th scope="col" class="col-auto">Class Name</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="option in options">
                  <td><code>{{ option.label }}</code></td>
                  <td>{{ option.id }}</td>
                  <td class="text-nowrap">{{ option.value }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </a-card>
      </div>
    </div>
  </div>

  <FooterNav prevNav="/components/tabs" prevTitle="Tabs" nextNav="/components/icons" nextTitle="Icons"/>
</div>