<div class="buttons-secondary-view">
  <div class="row mt-2">
    <div class="col">
      <Card title="Preview">
        <div class="input-wrapper mb-0">
          <a-button secondary>View all balances</a-button>
        </div>
      </Card>
    </div>
  </div>



  <CardCode>
    <textarea class="form-control" rows="3">
<a-button secondary>View all balances</a-button>
<a-button secondary disabled>View all balances</a-button>
<a-button secondary state="success">View all balances</a-button>
<a-button secondary state="warning">View all balances</a-button>    

<button type="button" class="btn btn-outline-primary">View all balances</button>
<button type="button" class="btn btn-outline-primary disabled">View all balances</button>
<button type="button" class="btn btn-outline-success">View all balances</button>
<button type="button" class="btn btn-outline-warning">View all balances</button> 
</textarea>
  </CardCode>


  <div class="row mt-6">
    <div class="col">


      <Card title="Formats">
        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary>View all balances</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Standard State</h5>
          </div>
        </div>

        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary class="hover">View all balances</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Rollover State</h5>
          </div>
        </div>

        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary disabled>View all balances</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Disabled State</h5>
          </div>
        </div>

        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary>Show more</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Min State (120px)</h5>
          </div>
        </div>


        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary>View more transactions</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Max State (248px)</h5>
          </div>
        </div>

        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary state="success">Return to balances</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Success State</h5>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary state="warning">Offboard now</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Failure/Emergency State</h5>
          </div>
        </div>


      </Card>
    </div>
  </div>


  <p class="display-4 mt-7 pt-5 border-top">Secondary Buttons with icons</p>
  <p class="mt-5">The <code>&lt;button&gt;</code> element represents a clickable button, used to submit forms, actions
    in
    dialogs or general navigation and support multiple sizes, states and more. By default, HTML buttons are presented in
    a
    style resembling the platform the user agent runs on, but you can change the appearance with CSS.</p>


  <div class="row mt-6">
    <div class="col">
      <Card title="Preview">
        <div class="input-wrapper mb-0">
          <a-button secondary icon="arrow-clockwise">View all balances</a-button>
        </div>
      </Card>
    </div>
  </div>



  <CardCode>
    <textarea class="form-control" rows="3">
<a-button secondary icon="arrow-clockwise">View all balances</a-button>
<a-button secondary icon="arrow-clockwise" disabled>View all balances</a-button>
<a-button secondary state="success" icon="arrow-clockwise">View all balances</a-button>
<a-button secondary state="warning" icon="arrow-clockwise">View all balances</a-button>    

<button type="button" class="btn btn-outline-primary">View all balances<i class="arrow-clockwise"></i></button>
<button type="button" class="btn btn-outline-primary disabled">View all balances<i class="arrow-clockwise"></i></button>
<button type="button" class="btn btn-outline-success">View all balances<i class="arrow-clockwise"></i></button>
<button type="button" class="btn btn-outline-warning">View all balances<i class="arrow-clockwise"></i></button>  
</textarea>
  </CardCode>


  <div class="row mt-6">
    <div class="col">


      <Card title="Formats">
        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary icon="arrow-clockwise">View all balances</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Standard State</h5>
          </div>
        </div>

        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary icon="arrow-clockwise" class="hover">View all balances</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Rollover State</h5>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary icon="arrow-clockwise" disabled>View all balances</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Disabled State</h5>
          </div>
        </div>
      </Card>
    </div>
  </div>


  <p class="display-4 mt-7 pt-5 border-top">Secondary Buttons Small</p>
  <p class="mt-5">The <code>&lt;button&gt;</code> element represents a clickable button, used to submit forms, actions
    in
    dialogs or general navigation and support multiple sizes, states and more. By default, HTML buttons are presented in
    a
    style resembling the platform the user agent runs on, but you can change the appearance with CSS.</p>





  <div class="row mt-6">
    <div class="col">
      <Card title="Preview">
        <div class="input-wrapper mb-0">
          <a-button secondary size="small">View all balances</a-button>
        </div>
      </Card>
    </div>
  </div>



  <CardCode>
    <textarea class="form-control" rows="3">
<a-button secondary size="small">View all balances</a-button>
<a-button secondary size="small" disabled>View all balances</a-button>
<a-button secondary state="success" size="small">View all balances</a-button>
<a-button secondary state="warning" size="small">View all balances</a-button> 

<button type="button" class="btn btn-outline-primary btn-sm">Primary</button>
<button type="button" class="btn btn-outline-primary btn-sm disabled">Disabled</button>
<button type="button" class="btn btn-outline-success btn-sm">Success</button>
<button type="button" class="btn btn-outline-warning btn-sm">Warning</button>  
</textarea>
  </CardCode>




  <div class="row mt-6">
    <div class="col">


      <Card title="Formats">
        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary size="small">View all balances</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Standard State</h5>
          </div>
        </div>

        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary size="small" class="hover">View all balances</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Rollover State</h5>
          </div>
        </div>

        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary size="small" disabled>View all balances</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Disabled State</h5>
          </div>
        </div>

        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary size="small">Show more</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Min State (Width 112px)</h5>
          </div>
        </div>


        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary size="small">View more transactions</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Max State (Width 248px)</h5>
          </div>
        </div>


        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary state="success" size="small">Return to balances</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Success State</h5>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary state="warning" size="small">Offboard now</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Failure/Emergency State</h5>
          </div>
        </div>


      </Card>
    </div>
  </div>


  <p class="display-4 mt-7 pt-5 border-top">Secondary Buttons Small with icons</p>
  <p class="mt-5">The <code>&lt;button&gt;</code> element represents a clickable button, used to submit forms, actions
    in
    dialogs or general navigation and support multiple sizes, states and more. By default, HTML buttons are presented in
    a
    style resembling the platform the user agent runs on, but you can change the appearance with CSS.</p>





  <div class="row mt-6">
    <div class="col">
      <Card title="Preview">
        <div class="input-wrapper mb-0">
          <a-button secondary icon="arrow-clockwise" size="small">View all balances</a-button>
        </div>
      </Card>
    </div>
  </div>



  <CardCode>
    <textarea class="form-control" rows="3">
<a-button secondary icon="arrow-clockwise" size="small">View all balances</a-button>
<a-button secondary icon="arrow-clockwise" size="small" disabled>View all balances</a-button>
<a-button secondary state="success" size="small" icon="arrow-clockwise">View all balances</a-button>
<a-button secondary state="warning" size="small" icon="arrow-clockwise">View all balances</a-button>  

<button type="button" class="btn btn-outline-primary btn-sm">View all balances<i class="arrow-clockwise"></i></button>
<button type="button" class="btn btn-outline-primary btn-sm disabled">View all balances<i class="arrow-clockwise"></i></button>
<button type="button" class="btn btn-outline-success btn-sm">View all balances<i class="arrow-clockwise"></i></button>
<button type="button" class="btn btn-outline-warning btn-sm">View all balances<i class="arrow-clockwise"></i></button>  
</textarea>
  </CardCode>




  <div class="row mt-6">
    <div class="col">


      <Card title="Formats">
        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary icon="arrow-clockwise" size="small">View all balances</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Standard State</h5>
          </div>
        </div>

        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary icon="arrow-clockwise" size="small" class="hover">View all balances</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Rollover State</h5>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary icon="arrow-clockwise" size="small" disabled>View all balances</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Disabled State</h5>
          </div>
        </div>
      </Card>
    </div>
  </div>

  <p class="display-4 mt-7 pt-5 border-top">Secondary Buttons Extra Small</p>
  <p class="mt-5">The <code>&lt;button&gt;</code> element represents a clickable button, used to submit forms, actions
    in
    dialogs or general navigation and support multiple sizes, states and more. By default, HTML buttons are presented in
    a
    style resembling the platform the user agent runs on, but you can change the appearance with CSS.</p>
  
  
  
  
  
  <div class="row mt-6">
    <div class="col">
      <Card title="Preview">
        <div class="input-wrapper mb-0">
          <a-button secondary size="xsmall">View all balances</a-button>
        </div>
      </Card>
    </div>
  </div>
  
  
  
  <CardCode>
    <textarea class="form-control" rows="3">
  <a-button secondary size="xsmall">View all balances</a-button>
  <a-button secondary size="xsmall" disabled>View all balances</a-button>
  <a-button secondary state="success" size="xsmall">View all balances</a-button>
  <a-button secondary state="warning" size="xsmall">View all balances</a-button> 
  
  <button type="button" class="btn btn-outline-primary btn-xs">Primary</button>
  <button type="button" class="btn btn-outline-primary btn-xs disabled">Disabled</button>
  <button type="button" class="btn btn-outline-success btn-xs">Success</button>
  <button type="button" class="btn btn-outline-warning btn-xs">Warning</button>  
  </textarea>
  </CardCode>
  
  
  
  
  <div class="row mt-6">
    <div class="col">
  
  
      <Card title="Formats">
        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary size="xsmall">View all balances</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Standard State</h5>
          </div>
        </div>
  
        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary size="xsmall" class="hover">View all balances</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Rollover State</h5>
          </div>
        </div>
  
        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary size="xsmall" disabled>View all balances</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Disabled State</h5>
          </div>
        </div>
  
        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary size="xsmall">Show more</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Min State (Width 112px)</h5>
          </div>
        </div>
  
  
        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary size="xsmall">View more transactions</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Max State (Width 248px)</h5>
          </div>
        </div>
  
  
        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary state="success" size="xsmall">Return to balances</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Success State</h5>
          </div>
        </div>
  
        <div class="row mb-2">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary state="warning" size="xsmall">Offboard now</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Failure/Emergency State</h5>
          </div>
        </div>
  
  
      </Card>
    </div>
  </div>
  
  
  <p class="display-4 mt-7 pt-5 border-top">Secondary Buttons Extra Small with icons</p>
  <p class="mt-5">The <code>&lt;button&gt;</code> element represents a clickable button, used to submit forms, actions
    in
    dialogs or general navigation and support multiple sizes, states and more. By default, HTML buttons are presented in
    a
    style resembling the platform the user agent runs on, but you can change the appearance with CSS.</p>
  
  
  
  
  
  <div class="row mt-6">
    <div class="col">
      <Card title="Preview">
        <div class="input-wrapper mb-0">
          <a-button secondary icon="arrow-clockwise" size="xsmall">View all balances</a-button>
        </div>
      </Card>
    </div>
  </div>
  
  
  
  <CardCode>
    <textarea class="form-control" rows="3">
  <a-button secondary icon="arrow-clockwise" size="xsmall">View all balances</a-button>
  <a-button secondary icon="arrow-clockwise" size="xsmall" disabled>View all balances</a-button>
  <a-button secondary state="success" size="xsmall" icon="arrow-clockwise">View all balances</a-button>
  <a-button secondary state="warning" size="xsmall" icon="arrow-clockwise">View all balances</a-button>  
  
  <button type="button" class="btn btn-outline-primary btn-xs">View all balances<i class="arrow-clockwise"></i></button>
  <button type="button" class="btn btn-outline-primary btn-xs disabled">View all balances<i class="arrow-clockwise"></i></button>
  <button type="button" class="btn btn-outline-success btn-xs">View all balances<i class="arrow-clockwise"></i></button>
  <button type="button" class="btn btn-outline-warning btn-xs">View all balances<i class="arrow-clockwise"></i></button>  
  </textarea>
  </CardCode>
  
  
  
  
  <div class="row mt-6">
    <div class="col">
  
  
      <Card title="Formats">
        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary icon="arrow-clockwise" size="xsmall">View all balances</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Standard State</h5>
          </div>
        </div>
  
        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary icon="arrow-clockwise" size="xsmall" class="hover">View all balances</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Rollover State</h5>
          </div>
        </div>
  
        <div class="row mb-2">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-button secondary icon="arrow-clockwise" size="xsmall" disabled>View all balances</a-button>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Disabled State</h5>
          </div>
        </div>
      </Card>
    </div>
  </div>



</div>