<div class="tabs">
    <div class="nav nav-tabs" :class="{ 'sticky-top' : sticky }" :id="_id" ref="tabScroll">
        <button class="nav-link" v-for="title in tabTitles" :key="title" :id="`${_titleParsed(title)}-tab`"
            data-bs-toggle="tab" :data-bs-target="`#${_titleParsed(title)}`" type="button" role="tab"
            aria-controls="contact" aria-selected="false"
            :class="{ 'active' : selectedTitle === title }, `${_titleParsed(title)}-tab`" @click="_onTabClick(title)">{{
            title }}</button>
    </div>
    <div class="tab-content overflow-hidden" :id="`${_id}-content`">
        <slot />
    </div>
</div>