<div class="badges-primary-view">
  <div class="row mt-2">
    <div class="col">
      <Card title="Preview">
        <div class="input-wrapper mb-0">
          <a-badge primary>EUR</a-badge>
          <a-badge dark>Urgent TRF</a-badge>
        </div>
      </Card>
    </div>
  </div>



  <CardCode>
    <textarea class="form-control" rows="3">
<a-badge primary>EUR</a-badge>
<a-badge dark>Urgent TRF</a-badge> 

<span class="badge bg-primary">EUR</span>
<span class="badge bg-dark">Urgent TRF</span>
</textarea>
  </CardCode>


  <div class="row mt-6">
    <div class="col">


      <Card title="Formats">
        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-badge primary>EUR</a-badge>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">CCY</h5>
          </div>
        </div>

        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2 order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-badge dark>Urgent TRF</a-badge> 
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Obligation Type</h5>
          </div>
        </div>        




      </Card>
    </div>
  </div>



  <p class="display-4 mt-7 pt-5 border-top">Standard Badges Small</p>





  <div class="row mt-6">
    <div class="col">
      <Card title="Preview">
        <div class="input-wrapper mb-0">
          <a-badge primary size="small">USD</a-badge>
        </div>
      </Card>
    </div>
  </div>



  <CardCode>
<textarea class="form-control" rows="3">
<a-badge primary size="small">USD</a-badge>
  
<span class="badge bg-primary badge-sm">USD</span>
</textarea>
  </CardCode>

  <div class="row mt-6">
    <div class="col">
  
  
      <Card title="Formats">
        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2  order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-badge primary size="small">USD</a-badge>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Standard State</h5>
          </div>
        </div>
  
        <div class="row mb-2">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2  order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-badge primary size="small">M</a-badge>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Min State (20px)</h5>
          </div>
        </div>
  
      </Card>
    </div>
  </div>

  <p class="display-4 mt-7 pt-5 border-top">Standard Badges Extra Small</p>





  <div class="row mt-6">
    <div class="col">
      <Card title="Preview">
        <div class="input-wrapper mb-0">
          <a-badge primary size="xsmall">3</a-badge>
          <a-badge primary size="xsmall">264</a-badge>
        </div>
      </Card>
    </div>
  </div>



  <CardCode>
<textarea class="form-control" rows="3">
<a-badge primary size="xsmall">264</a-badge>
  
<span class="badge bg-primary badge-xs">264</span>
</textarea>
  </CardCode>

  <div class="row mt-6">
    <div class="col">
  
  
      <Card title="Formats">
        <div class="row mb-8">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2  order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-badge primary size="xsmall">264</a-badge>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Standard State</h5>
          </div>
        </div>
  
        <div class="row mb-2">
          <div class="col-12 col-sm-5 col-md-6 col-lg-4 col-xl-3 col-xxl-2  order-2 order-sm-1 align-self-center">
            <div class="input-wrapper mb-0">
              <a-badge primary size="xsmall">3</a-badge>
            </div>
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-2a mb-sm-0">Min State (16px)</h5>
          </div>
        </div>
  
      </Card>
    </div>
  </div>  

  
</div>