<div class="balances-view tiles balances">
  <div class="row">
    <div class="col-12">
      <div class="grid">
        <transition-group name="list">
        <div v-for="(item,index) in rowContent" :key="item.id">
          <div class="cols">
            <div class="card info-card">
              <div class="card-header d-flex justify-content-between align-items-center">
                <span class="badge rounded-pill bg-primary">{{ item.curr }}</span>
                <span class="fw-bolder">{{ item.entity }}</span>
              </div>     
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ item.total.toLocaleString() }}</h5>
                <div class="card-text">
                  <div class="data-row">
                    <div>On Hold settlement</div>
                    <div>{{ item.on_hold_set.toLocaleString() }}</div>            
                  </div>
                  <div class="data-row">
                    <div>On Hold Credit</div>
                    <div>{{ item.on_hold_credit.toLocaleString() }}</div>            
                  </div>
                  <div class="data-row">
                    <div>Available Credit</div>
                    <div>{{ item.avail_credit.toLocaleString() }}</div>            
                  </div>
                  <div class="data-row">
                    <div>Account</div>
                    <div>{{ item.account }}</div>            
                  </div>
                </div>
                <div class="body-footer">
                  <a-drop-down :options="options" defaultValue="Select Action" size="small" class="w-100" @change="triggerChange($event, index, item)"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        </transition-group>                                                                                                                                              
      </div>                   
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="grid">
        <transition-group name="list">
        <div v-for="(item,index) in inProgress" :key="item.id">
          <div class="cols">
            <div class="card info-card">
              <div class="card-header d-flex justify-content-between align-items-center">
                <span class="badge rounded-pill bg-primary">{{ item.curr }}</span>
                <span class="fw-bolder">{{ item.entity }}</span>
              </div>     
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ item.total.toLocaleString() }}</h5>
                <div class="card-text">
                  <div class="data-row">
                    <div>On Hold settlement</div>
                    <div>{{ item.on_hold_set.toLocaleString() }}</div>            
                  </div>
                  <div class="data-row">
                    <div>On Hold Credit</div>
                    <div>{{ item.on_hold_credit.toLocaleString() }}</div>            
                  </div>
                  <div class="data-row">
                    <div>Available Credit</div>
                    <div>{{ item.avail_credit.toLocaleString() }}</div>            
                  </div>
                  <div class="data-row">
                    <div>Account</div>
                    <div>{{ item.account }}</div>            
                  </div>
                </div>
                <div class="body-footer">
                  <a-drop-down :options="options" defaultValue="Select Action" size="small" class="w-100" @change="triggerChange($event, index, item)"/>
                </div>
              </div>
            </div>
          </div>
        </div>  
        </transition-group>                                                                                                                                            
      </div>                   
    </div>
  </div>  
</div>