<div class="card-default-view">
  <div class="row mt-2">
    <div class="col">
      <a-card title="Preview">
        <div class="mt-5">
          Default Card with title
        </div>
      </a-card>
    </div>
  </div>


  <CardCode>
    <textarea class="form-control" rows="3">
<a-card title="Preview">
  Default Card with title
</a-card>

<div class="card default">
  <div class="card-body card-body d-flex flex-column">
    <h5 class="card-title">Preview</h5>
    Default Card with title
  </div>
</div>
</textarea>
  </CardCode>



  
</div>