.icon-hold {
    background-color: rgba(var(--color-primary-rgb), 0.03);
}

.icon-demo .a-icon {
    width: 2.5em;
    height: 2.5em;
    color: var(--color-primary);
}

.icons-large .a-icon {
    width: 9.5em;
    height: 9.5em;
}