<div class="home-view mt-n5">

  <div class="container-fluid py-8 mb-5 text-white bg-primarybg">
    <div class="col-lg-9 col-xl-7 col-xxl-6">
      <div class="col-2 col-sm-2 col-md-3">
          <img alt="DLS logo" class="dls-logo img-fluid" src="../../assets/images/logos/dls_symbol.svg">
      </div>
      <div class="mt-4 mt-md-5"><span class="badge rounded-pill bg-light text-primary badge-sm">Version 1.3</span></div>
      <h1 class="display-2 ms-n1 mt-2 mb-0 fw-bolder">Design<br/>System Library</h1>
      <p class="mt-3 mb-0 display-6">A framework that combines a set of reusable components and patterns that provide consistency when designing our product UI</p>
    </div>
  </div>

  <div class="container-xxl pt-1 pt-md-4">
    <p class="text-justified text-primary display-4">Our Design System Library is a collection of pre-built, reusable components, patterns, guidance, and code that allow us to build consistent digital experiences faster that support best case user interface design and development. Defining the purpose and style of every component, whether that be colour, shape, type, icons, space, and motion is essential to creating a clear and usable UI, togther with guidelines that govern hierarchy  provide for a consistent and a seamless and delightful user experience. </p>
    <p class="text-justified pt-2">Without standards, decisions around UI can become arbitrary. Not only does this not scale, but inconsistent interface conventions hinder usability and create frustrating user experiences. When CSS for countless unique interface elements and their interactions increase, so does cognitive load and page weight. It can also create conflicting or duplicated code, potentially breaking our product.</p>
    <p class="text-justified">In essence a design system reduces design debt, accelerates the development process and builds a bridge between design and development teams. Its greatly improves efficiency by preventing duplication and scratch building through the use of reusable componenets, saving time and money.</p>
  </div>

  <div class="container-xxl pt-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-5 g-xl-8">
      <div class="col">
        <Card icon="grid-1x2" title="Components" card="intro">
            <p class="card-text">Components are one of the key building blocks of the design system. Their systematic reuse helps to create visual and functional consistency across products</p>
        </Card>
      </div>
      <div class="col">
        <Card icon="brush" title="Theming" type="intro">
            <p class="card-text">Theming makes it easy to customize our framework to match the look and feel of our clients’ brand, with built-in support and guidance for customizing colors</p>
        </Card> 
      </div>
      <div class="col">
        <Card icon="palette" title="Colour" card="intro">
            <p class="card-text">Global colour styles have defined usage in components - primary & secondary (brand colors), background, success & error</p>
        </Card> 
      </div>
      <div class="col">
        <Card icon="adhara-app" title="Shape" card="intro">
            <p class="card-text">Rounded edges for our UI components soften the overall feel. They are easier on the eye, therefore take less cognitive effort to process than UI with hard edges</p>
        </Card>           
      </div>
      <div class="col">
        <Card icon="play-btn" title="Animation" card="intro">
            <p class="card-text">Motion focuses attention and maintains continuity through subtle feedback and coherent transitions.</p>
        </Card>            
      </div>                                                       
    </div>
  </div>

  <FooterNav nextNav="/components/badges" nextTitle="Badges"/>  

</div>