<div class="dashboard-view tiles dash-board">
  <div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="grid">
        <div class="cols">
          <div class="d-flex mb-4">
            <div>
              <div class="display-8 fw-bolder">Task List</div>
              <div class="display-2 fw-bolder">0{{ toDos.length }}</div>
            </div>
            <div class="ms-auto align-self-center">
              <a-badge primary size="small" class="me-3"></a-badge>
            </div>
          </div>
          <transition-group name="list">
            <a-dashboard-card v-for="(toDo,index) in toDos" :key="toDo.id">
              <template #header>
                <a-badge primary @click="addToInProgress(toDo, index)">{{ toDo.curr }}</a-badge>
                <a-badge dark>{{ toDo.obligation }}</a-badge>
                <a-badge primary state="success" icon-right="check-circle" v-if="toDo.actionSelect">Rate Set</a-badge>
                <span v-if="toDo.actionSelect" class="fw-bolder" :id="toDo.id">{{ toDo.entity }}</span>
                <span class="ms-auto" v-if="!toDo.actionSelect"><a-button secondary size="xsmall" class="m-0"  @click="displayModal('trigger-' + toDo.id.toLocaleString())">Submit</a-button></span>
                <div class="xs-select ms-auto" v-if="toDo.actionSelect"><div><a-drop-down :options="optionsa" defaultValue="Action" size="xsmall" @change="displayModal('trigger-' + toDo.id.toLocaleString() + '-complete')"/></div></div>
              </template>
              <template #body @click="toggleCardText(toDo, index)">
                <h5 v-if="toDo.actionSelect" class="card-title">{{ toDo.total.toLocaleString() }}</h5>
                <a-icon v-if="!toDo.toggleText && toDo.actionSelect" icon="chevron-down" class="text-primary action-icon" @click="toggleCardText(toDo, index)" />
                <a-icon v-if="toDo.toggleText" icon="chevron-up" class="text-primary action-icon" @click="toggleCardText(toDo, index)" />
                <div class="card-text toggle-me" :class="{ 'active-toggle': toDo.toggleText }">
                  <div class="data-row">
                    <div>{{ toDo.date }} {{ toDo.time }}</div>          
                  </div>
                  <div class="data-row">
                    <div>{{ toDo.amtccy.toLocaleString() }} {{ toDo.curr }}</div>          
                  </div>
                  <div class="data-row">
                    <div>{{ toDo.account }}</div>           
                  </div>
                  <div class="data-row">
                    <div>{{ toDo.rate }}</div>          
                  </div>
                  <div class="card-text sub-text">
                    <div class="data-row fw-bold">Obligation</div>
                    <div class="data-row">
                      <div>{{ toDo.date }} {{ toDo.time }}</div>
                    </div>
                    <div class="data-row">
                      <div>{{ toDo.amtccy.toLocaleString() }} {{ toDo.curr }}</div>
                      <div>{{ toDo.obligation }}</div>
                      <div>{{ toDo.entity }}</div>
                    </div>
                    <div class="data-row">
                      <div>{{ toDo.account }}</div>           
                    </div>
                  </div>
                </div>
                
                <Modal ref="modal" :id="toDo.id.toLocaleString()" title="Request For Price" trigger="text" closeIcon @saveModal="addToInProgress(toDo, index)">
                    <a-input label="Amount" id="idAccount" :value="toDo.total.toLocaleString()" placeholder="Enter Amount" />
                </Modal>

                <Modal ref="modal" :id="toDo.id.toLocaleString() + '-complete'" title="Accept Rate" trigger="text" @closeModal="addToFinalise(toDo, index)" autoClose hideActions>
                  <div class="input-wrapper">
                    <div class="text-center text-success">
                      <a-icon icon="check-circle" class="action-icon display-1" />
                      <p class="mt-3">You have successfully<br/>accepted the rate</p>
                    </div>
                  </div>
                </Modal>                
                    
              </template>
            </a-dashboard-card>
          </transition-group>
        </div>


        <div class="cols">
          <div class="d-flex mb-4">
            <div>
              <div class="display-8 fw-bolder">In Progress</div>
              <div class="display-2 fw-bolder">0{{ inProgress.length }}</div>
            </div>
            <div class="ms-auto align-self-center">
              <a-badge primary state="caution" size="small" class="me-3"></a-badge>
            </div>
          </div>

          <transition-group name="list">
            <a-dashboard-card v-for="(toDo,index) in inProgress" :key="toDo.id">
              <template #header>
                <a-badge primary @click="addToCompleted(toDo, index)">{{ toDo.curr }}</a-badge>
                <a-badge dark>{{ toDo.obligation }}</a-badge>
                <span class="fw-bolder" :id="toDo.id">{{ toDo.entity }}</span>
                <a-badge primary state="caution" icon-right="dash-circle" class="ms-auto">Pending</a-badge>
              </template>
              <template #body>
                <h5 class="card-title">{{ toDo.total.toLocaleString() }}</h5>
                <div class="card-text toggle-me" :class="{ 'active-toggle': toDo.toggleText }">
                  <div class="data-row">
                    <div>{{ toDo.date }} {{ toDo.time }}</div>          
                  </div>
                  <div class="data-row">
                    <div>{{ toDo.amtccy.toLocaleString() }} {{ toDo.curr }}</div>          
                  </div>
                  <div class="data-row">
                    <div>{{ toDo.account }}</div>           
                  </div>
                  <div class="data-row">
                    <div>{{ toDo.rate }}</div>          
                  </div>
                  <div class="card-text sub-text">
                    <div class="data-row fw-bold">Obligation</div>
                    <div class="data-row">
                      <div>{{ toDo.date }} {{ toDo.time }}</div>
                    </div>
                    <div class="data-row">
                      <div>{{ toDo.amtccy.toLocaleString() }} {{ toDo.curr }}</div>
                      <div>{{ toDo.obligation }}</div>
                      <div>{{ toDo.entity }}</div>
                    </div>
                    <div class="data-row">
                      <div>{{ toDo.account }}</div>           
                    </div>
                  </div>
                </div>
                <a-icon v-if="!toDo.toggleText && toDo.actionSelect" icon="chevron-down" class="text-primary action-icon" @click="toggleCardText(toDo, index)" />
                <a-icon v-if="toDo.toggleText" icon="chevron-up" class="text-primary action-icon" @click="toggleCardText(toDo, index)" />                
                <Modal ref="modal" :id="toDo.id.toLocaleString()" :title="toDo.total.toLocaleString()" trigger="text" closeIcon @saveModal="addToCompleted(toDo, index)">
                    <a-input label="ID Account" id="idAccount" placeholder="Enter ID Account" />
                </Modal>
                    
              </template>
            </a-dashboard-card>
          </transition-group>




        </div>



        <div class="cols">
          <div class="d-flex mb-4">
            <div>
              <div class="display-8 fw-bolder">Completed</div>
              <div class="display-2 fw-bolder">0{{ completed.length }}</div>
            </div>
            <div class="ms-auto align-self-center">
              <a-badge primary state="success" size="small" class="me-3"></a-badge>
            </div>
          </div>

          <transition-group name="list">
            <a-dashboard-card v-for="(toDo,index) in completed" :key="toDo.id" actionIcon>
              <template #header>
                <a-badge primary @click="addToToDoBank(toDo, index)">{{ toDo.curr }}</a-badge>
                <a-badge dark>{{ toDo.obligation }}</a-badge>
                <span class="fw-bolder" :id="toDo.id">{{ toDo.entity }}</span>
                <a-badge primary state="success" icon-right="check-circle" class="ms-auto">Completed</a-badge>
              </template>
              <template #body>
                <h5 class="card-title">{{ toDo.total.toLocaleString() }}</h5>
                <div class="card-text toggle-me">
                  <div class="data-row">
                    <div>{{ toDo.date }} {{ toDo.time }}</div>          
                  </div>
                  <div class="data-row">
                    <div>{{ toDo.amtccy.toLocaleString() }} {{ toDo.curr }}</div>          
                  </div>
                  <div class="data-row">
                    <div>{{ toDo.account }}</div>           
                  </div>
                  <div class="data-row">
                    <div>{{ toDo.rate }}</div>          
                  </div>
                  <div class="card-text sub-text">
                    <div class="data-row fw-bold">Obligation</div>
                    <div class="data-row">
                      <div>{{ toDo.date }} {{ toDo.time }}</div>
                    </div>
                    <div class="data-row">
                      <div>{{ toDo.amtccy.toLocaleString() }} {{ toDo.curr }}</div>
                      <div>{{ toDo.obligation }}</div>
                      <div>{{ toDo.entity }}</div>
                    </div>
                    <div class="data-row">
                      <div>{{ toDo.account }}</div>           
                    </div>
                  </div>
                </div>
                
                <Modal ref="modal" :id="toDo.id.toLocaleString()" :title="toDo.total.toLocaleString()" trigger="text" closeIcon @saveModal="addToToDoBank(toDo, index)">
                  <a-input label="ID Account" id="idAccount" placeholder="Enter ID Account" />
                </Modal>
                    
              </template>
            </a-dashboard-card>
          </transition-group>




        </div>
      </div>
    </div>
  </div>
  </div>
</div>