<div class="input-with-labels-view">

  <div class="row mt-2">
    <div class="col">
      <Card title="Preview">
        <a-input labels label="username" id="user-name" class="mb-0" />
      </Card>
    </div>
  </div>


  <CardCode>
    <textarea class="form-control" rows="3">
<a-input labels label="username" id="user-name" />

<div class="input-wrapper was-validated wrap-label">
    <input type="email" id="InputEmails" placeholder=" " class="form-control input-label" required="" autocomplete="off">
    <label for="InputEmails">user name</label>
    <div class="invalid-feedback">Incorrect username please try again</div>
</div>

</textarea>
  </CardCode>


  <div class="row mt-6">
    <div class="col">
      <Card title="Formats">
        <div class="row mb-8">
          <div class="col-12 col-sm-auto order-2 order-sm-1 align-self-center">
            <a-input labels label="username" id="user01" class="mb-0" disabled />
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-sm-0">Standard & Disabled State</h5>
          </div>
        </div>


        <div class="row mb-8">
          <div class="col-12 col-sm-auto order-2 order-sm-1 align-self-center">
            <a-input labels label="username" id="user02" class="mb-0" />
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-sm-0">Input State (Focus)</h5>
          </div>
        </div>


        <div class="row mb-8">
          <div class="col-12 col-sm-auto order-2 order-sm-1 align-self-center">
            <a-input labels label="username" id="user03" class="mb-0" />
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-sm-0">Completed State</h5>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12 col-sm-auto order-2 order-sm-1 align-self-center">
            <a-input labels type="email" label="user name" id="InputEmails" class="mb-0" required errorMessage="Incorrect username please try again" />
          </div>
          <div class="col order-1 order-sm-2 align-self-center">
            <h5 class="mb-5 mb-sm-0">Error State with real time validation and prompt</h5>
          </div>
        </div>
      </Card>
    </div>
  </div>

</div>